name: Automatically merge into the Main Branch

on:
  push:
    branches: [dev]

permissions:
  contents: read
  pages: write
  id-token: write

defaults:
  run:
    shell: bash

jobs:
  merge:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: dev
      - name: Setup Git
        run: |
          git config user.name "Mincrohn"
          git config user.email "minho119@ajou.ac.kr"
      - name: Checkout main branch
        run: |
          git status
          git branch -r
          git branch
          git log --oneline
          git fetch origin main:main
          git checkout main
          git branch -r
          git branch
          git log --oneline
      - name: Merge to main
        run: |
          git merge --no-ff dev
          git push origin main
