name: Automatically merge into the Main Branch

on:
  push:
    branches: [dev]

  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  sync_job:
    runs-on: ubuntu-latest
    steps:
      - name: Sync ${{ github.ref }} to main
        uses: devmasx/merge-branch@master
        with:
          GITHUB_TOKEN: ${{secrets.TOKEN}}
          type: now
          from_branch: ${{ github.ref }}
          target_branch: main
          message: Merge branch 'dev'
